In [1]:
import numpy as np
import pandas as pd

In [9]:
val = 'a,b,  guido'
val

'a,b,  guido'

In [10]:
val.split(',')

['a', 'b', '  guido']

In [12]:
':'.join(val)

'a:,:b:,: : :g:u:i:d:o'

In [16]:
new = val.strip()

In [31]:
new.replace(',',':')

'a:b:  guido'

In [35]:
new.count(',')

2

In [36]:
new.count('g')

1

In [37]:
new.index('g')

6

In [38]:
import re

In [40]:
text = "foo bar\t baz  \tqux"

In [41]:
re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [44]:
regex = re.compile('\s+')

In [45]:
regex.findall(text)

[' ', '\t ', '  \t']

In [46]:
data = {'Dave':'dave@google.com','Steve':'steve@gmail.com','Rob':'rob@gmail.com','Wes':np.nan}

In [47]:
pd.Series(data)

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [49]:
pd.Series(data).isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [50]:
data = pd.Series(data)

In [52]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [53]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [55]:
regex = re.compile(pattern,flags=re.IGNORECASE)

In [66]:
text = """Dave davegoogle.com
Steve steve@gmail.com
Mike mike@gmail.com
Ryan ryan@yahoo.com
Jimmy jim
Carol Baskin 123"""

In [67]:
regex.findall(text)

['steve@gmail.com', 'mike@gmail.com', 'ryan@yahoo.com']

In [73]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

In [76]:
data.str.findall(pattern,flags=re.IGNORECASE).str[0]

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [80]:
data.str.findall('gmail').str[0]

Dave       NaN
Steve    gmail
Rob      gmail
Wes        NaN
dtype: object

In [118]:
pd.DataFrame(data.str.match('steve@gmail.com').values.ravel('K'))

       0
0  False
1   True
2  False
3    NaN

In [134]:
data.str.match('steve@gmail.com')

Dave     False
Steve     True
Rob      False
Wes        NaN
dtype: object