In [3]:
from datetime import datetime
import pandas as pd
import numpy as np

In [5]:
datetime.now()

datetime.datetime(2020, 8, 19, 10, 14, 52, 46736)

In [8]:
datetime.now().month

8

In [14]:
delta = datetime(2011,11,7) - datetime.now()

In [16]:
delta

datetime.timedelta(days=-3209, seconds=48732, microseconds=715265)

In [17]:
delta.days

-3209

In [30]:
# this allows you to calculate days, or generate days rather
from datetime import timedelta

In [28]:
now = datetime(2020,8,19)

In [29]:
now + timedelta(10) #now you can add 10 days to 2020-08-19

datetime.datetime(2020, 8, 29, 0, 0)

In [33]:
# can also convert datetimes to strings
datetime.now().strftime('%Y-%m')

'2020-08'

In [34]:
today = '2020-08-19'

In [35]:
today

'2020-08-19'

In [42]:
datetime.now()

datetime.datetime(2020, 8, 19, 10, 49, 4, 74916)

In [ ]:
[datetime.strptime(x, '%m/%d/%Y') for x in attack_dates]

In [43]:
datetime.strptime(today, '%Y-%m-%d')

datetime.datetime(2020, 8, 19, 0, 0)

In [ ]:
pd.to_datetime(df['date'])

In [44]:
import os as os
import pandas as pd
import numpy as np

In [47]:
os.chdir('G:\Rev Cycle Analytics\HB\HB Ad hoc\Cash Collections')

In [49]:
payors = pd.read_excel('Payor Analysis.xlsx','Payors')

In [50]:
payors.head(5)

,Month - Year,Account Base Class,Financial Class,Payor,Charge Amount,Payment Amount
0,October 2018,Emergency,Blue Cross,BCBS [6001],1164310.55,-221392.34
1,October 2018,Emergency,Blue Cross,BCBS OUT OF STATE [6002],106676.85,-10107.57
2,October 2018,Emergency,CommChoice/QHP,ALLWAYS HEALTH PARTNERS PRIME [7003],22074.11,-11652.59
3,October 2018,Emergency,CommChoice/QHP,BMC HEALTHNET [7001],791892.82,-494429.16
4,October 2018,Emergency,CommChoice/QHP,TUFTS CONNCARE/QHP [8020],162066.32,-1326.51

In [52]:
payors = payors.rename(columns={'Month - Year':'Date','Account Base Class':'Base','Financial Class':'FC','Charge Amount':'Charges','Payment Amount':'Payments'})

In [53]:
payors.head(5)

,Date,Base,FC,Payor,Charges,Payments
0,October 2018,Emergency,Blue Cross,BCBS [6001],1164310.55,-221392.34
1,October 2018,Emergency,Blue Cross,BCBS OUT OF STATE [6002],106676.85,-10107.57
2,October 2018,Emergency,CommChoice/QHP,ALLWAYS HEALTH PARTNERS PRIME [7003],22074.11,-11652.59
3,October 2018,Emergency,CommChoice/QHP,BMC HEALTHNET [7001],791892.82,-494429.16
4,October 2018,Emergency,CommChoice/QHP,TUFTS CONNCARE/QHP [8020],162066.32,-1326.51

In [60]:
payors.dtypes

Date         object
Base         object
FC           object
Payor        object
Charges     float64
Payments    float64
dtype: object

In [64]:
# some data clean up (dates, values)
payors['Date'] = pd.to_datetime(payors['Date'])

In [65]:
payors.head(5)

,Date,Base,FC,Payor,Charges,Payments
0,2018-10-01,Emergency,Blue Cross,BCBS [6001],1164310.55,-221392.34
1,2018-10-01,Emergency,Blue Cross,BCBS OUT OF STATE [6002],106676.85,-10107.57
2,2018-10-01,Emergency,CommChoice/QHP,ALLWAYS HEALTH PARTNERS PRIME [7003],22074.11,-11652.59
3,2018-10-01,Emergency,CommChoice/QHP,BMC HEALTHNET [7001],791892.82,-494429.16
4,2018-10-01,Emergency,CommChoice/QHP,TUFTS CONNCARE/QHP [8020],162066.32,-1326.51

In [68]:
pd.set_option('float_format', '{:.2f}'.format)

In [69]:
payors.head(5)

,Date,Base,FC,Payor,Charges,Payments
0,2018-10-01,Emergency,Blue Cross,BCBS [6001],1164310.55,-221392.34
1,2018-10-01,Emergency,Blue Cross,BCBS OUT OF STATE [6002],106676.85,-10107.57
2,2018-10-01,Emergency,CommChoice/QHP,ALLWAYS HEALTH PARTNERS PRIME [7003],22074.11,-11652.59
3,2018-10-01,Emergency,CommChoice/QHP,BMC HEALTHNET [7001],791892.82,-494429.16
4,2018-10-01,Emergency,CommChoice/QHP,TUFTS CONNCARE/QHP [8020],162066.32,-1326.51

In [73]:
# normally you can convert a string to a date time like this
some_date = '2011-09-01'
datetime.strptime(some_date, '%Y-%m-%d')

datetime.datetime(2011, 9, 1, 0, 0)

In [75]:
# for multiple string dates
date_strings = ['2020-08-11','2020-08-09','2019-02-01']

# then apply function to all parts
[datetime.strptime(x,'%Y-%m-%d') for x in date_strings]

[datetime.datetime(2020, 8, 11, 0, 0),
 datetime.datetime(2020, 8, 9, 0, 0),
 datetime.datetime(2019, 2, 1, 0, 0)]

In [76]:
# a good all-around parser in general is the dateutil package
from dateutil.parser import parse

In [82]:
crazy_date = 'Jan 1, 2013 at 10:45a'

In [83]:
parse(crazy_date)

datetime.datetime(2013, 1, 1, 10, 45)

In [87]:
# if the day ever comes first in a string, just set to dayfirst=True
crazy_date = '23 February 2020 at 11:06a'
crazy_date_2 = '23/6/2019'

In [90]:
parse(crazy_date)
parse(crazy_date_2)

datetime.datetime(2019, 6, 23, 0, 0)

In [92]:
long_date = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))

In [93]:
long_date.head(10)

2000-01-01    1.42
2000-01-02   -0.21
2000-01-03    0.35
2000-01-04   -1.70
2000-01-05   -0.75
2000-01-06    0.30
2000-01-07   -1.46
2000-01-08    1.72
2000-01-09   -1.34
2000-01-10   -0.02
Freq: D, dtype: float64

In [94]:
long_date['2001'].head(10)

2001-01-01    0.72
2001-01-02    0.32
2001-01-03   -0.48
2001-01-04    1.00
2001-01-05   -0.18
2001-01-06   -0.53
2001-01-07    1.52
2001-01-08    1.16
2001-01-09   -0.06
2001-01-10   -0.53
Freq: D, dtype: float64

In [95]:
long_date['2000-01-03':'2000-01-07']

2000-01-03    0.35
2000-01-04   -1.70
2000-01-05   -0.75
2000-01-06    0.30
2000-01-07   -1.46
Freq: D, dtype: float64

In [96]:
# to generate a time series
pd.date_range('01/01/2020','02/03/2020')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
               '2020-02-02', '2020-02-03'],
              dtype='datetime64[ns]', freq='D')

In [97]:
# can also do
pd.date_range('01/01/2020', periods=12)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12'],
              dtype='datetime64[ns]', freq='D')

In [104]:
# can do only business days
pd.date_range('01/01/2020','01/23/2020',freq='B')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-20', '2020-01-21', '2020-01-22',
               '2020-01-23'],
              dtype='datetime64[ns]', freq='B')

In [107]:
# can also add hour multiples into the picture
pd.date_range('2020-01-01','2020-01-05',freq='4h')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 04:00:00',
               '2020-01-01 08:00:00', '2020-01-01 12:00:00',
               '2020-01-01 16:00:00', '2020-01-01 20:00:00',
               '2020-01-02 00:00:00', '2020-01-02 04:00:00',
               '2020-01-02 08:00:00', '2020-01-02 12:00:00',
               '2020-01-02 16:00:00', '2020-01-02 20:00:00',
               '2020-01-03 00:00:00', '2020-01-03 04:00:00',
               '2020-01-03 08:00:00', '2020-01-03 12:00:00',
               '2020-01-03 16:00:00', '2020-01-03 20:00:00',
               '2020-01-04 00:00:00', '2020-01-04 04:00:00',
               '2020-01-04 08:00:00', '2020-01-04 12:00:00',
               '2020-01-04 16:00:00', '2020-01-04 20:00:00',
               '2020-01-05 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [108]:
# or add hours and minutes
pd.date_range('2020-01-01','2020-01-05',freq='4h30min')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 04:30:00',
               '2020-01-01 09:00:00', '2020-01-01 13:30:00',
               '2020-01-01 18:00:00', '2020-01-01 22:30:00',
               '2020-01-02 03:00:00', '2020-01-02 07:30:00',
               '2020-01-02 12:00:00', '2020-01-02 16:30:00',
               '2020-01-02 21:00:00', '2020-01-03 01:30:00',
               '2020-01-03 06:00:00', '2020-01-03 10:30:00',
               '2020-01-03 15:00:00', '2020-01-03 19:30:00',
               '2020-01-04 00:00:00', '2020-01-04 04:30:00',
               '2020-01-04 09:00:00', '2020-01-04 13:30:00',
               '2020-01-04 18:00:00', '2020-01-04 22:30:00'],
              dtype='datetime64[ns]', freq='270T')

In [114]:
# in sql, getting the 3rd friday of each month is pretty involved
# in pandas, you can just call the freq = 'WOM-3FRI' (aka 3rd Friday of the month)
rng = pd.date_range('2020-01-01','2020-01-31',freq='WOM-3FRI')

In [115]:
list(rng)

[Timestamp('2020-01-17 00:00:00', freq='WOM-3FRI')]

In [117]:
# two ways to create random numbers for dates: method 1
pd.Series(np.random.randn(4),index=['2020-01-01','2020-01-02','2020-01-03','2020-01-04'])

2020-01-01    1.21
2020-01-02   -1.06
2020-01-03   -0.89
2020-01-04    0.76
dtype: float64

In [127]:
#method 2
pd.Series(np.random.randn(4),index=pd.date_range('2020-01-01',periods=4))

2020-01-01   -0.83
2020-01-02    0.75
2020-01-03    1.04
2020-01-04   -0.63
Freq: D, dtype: float64

In [128]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('2020-01-01',periods=4))

In [132]:
# then you can also shift the data a few days
ts.shift(2)

2020-01-01     nan
2020-01-02     nan
2020-01-03   -0.05
2020-01-04    0.08
Freq: D, dtype: float64

In [135]:
ts.shift(2,freq='d') #to see the rest of the data

2020-01-03   -0.05
2020-01-04    0.08
2020-01-05    0.43
2020-01-06   -0.83
Freq: D, dtype: float64

In [141]:
# you can rollforward certain days and to month-ends
now = datetime.now()  # today's date

In [144]:
from pandas.tseries.offsets import Day, MonthEnd

In [145]:
now + 3 * Day() # add three days to today's date

Timestamp('2020-08-22 15:49:36.276799')

In [146]:
# what's the last day of this month
now + MonthEnd()

Timestamp('2020-08-31 15:49:36.276799')

In [147]:
# end of last month
now - MonthEnd()

Timestamp('2020-07-31 15:49:36.276799')

In [148]:
# two months from now
now + MonthEnd(2)

Timestamp('2020-09-30 15:49:36.276799')

In [149]:
# end of this month: method 2
MonthEnd().rollforward(now)

Timestamp('2020-08-31 15:49:36.276799')

In [150]:
# end of last month: method 2
MonthEnd().rollback(now)

Timestamp('2020-07-31 15:49:36.276799')

In [165]:
# QUARTERLY PERIOD FREQUENCIES

p = pd.Period('2020Q1',freq='Q-SEP')

In [166]:
p.asfreq('D','start')

Period('2019-10-01', 'D')