In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'key':['a','b','c'] * 4,
             'value':np.arange(12)})

In [5]:
g = df.groupby('key').value

In [6]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [7]:
df.groupby('key')['value'].mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [12]:
g.value_counts()

key  value
a    0        1
     3        1
     6        1
     9        1
b    1        1
     4        1
     7        1
     10       1
c    2        1
     5        1
     8        1
     11       1
Name: value, dtype: int64

In [17]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [23]:
transformed = g.transform(lambda x: x.mean())

In [24]:
pd.concat([df,transformed],axis=1)

   key  value  value
0    a      0    4.5
1    b      1    5.5
2    c      2    6.5
3    a      3    4.5
4    b      4    5.5
5    c      5    6.5
6    a      6    4.5
7    b      7    5.5
8    c      8    6.5
9    a      9    4.5
10   b     10    5.5
11   c     11    6.5

In [26]:
g.transform(lambda x: x.rank()) #rank order of the key values

0     1
1     1
2     1
3     2
4     2
5     2
6     3
7     3
8     3
9     4
10    4
11    4
Name: value, dtype: int32

In [29]:
g.transform(lambda x: x.rank(ascending=False))

0     4
1     4
2     4
3     3
4     3
5     3
6     2
7     2
8     2
9     1
10    1
11    1
Name: value, dtype: int32

In [32]:
test = pd.DataFrame({'name':['gerry','paulie','ronnie','nicki','situation'],
             'start':[4,5,3,23,4],
             'end':[7,6.2,2,39,23]})

In [33]:
test

        name  start   end
0      gerry      4   7.0
1     paulie      5   6.2
2     ronnie      3   2.0
3      nicki     23  39.0
4  situation      4  23.0

In [55]:
test[['start','end']] = test[['start','end']].astype(int)

In [56]:
lambda x: (x['start'] - x['end'] )/ x['start']

In [58]:
def normalize(x):
    return(x - x.mean())/x.std()

In [59]:
g.transform(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [60]:
df

   key  value
0    a      0
1    b      1
2    c      2
3    a      3
4    b      4
5    c      5
6    a      6
7    b      7
8    c      8
9    a      9
10   b     10
11   c     11