In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from datetime import datetime

In [3]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [8]:
my_date = datetime(my_year,my_month,my_day)

In [5]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [7]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [9]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [10]:
type(my_date_time)

datetime.datetime

In [11]:
#there are attributes that you can pull off the datatime object
my_date_time.day

2

In [12]:
#create two dates, call it first_two
first_two = [datetime(2016,1,1),datetime(2016,1,2)]

In [13]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [14]:
#then, use pandas datetimeindex to make the dates indexed
dt_ind = pd.DatetimeIndex(first_two)

In [15]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [16]:
#once you set a datetime index, you can attribute values to it
data = np.random.randn(2,2)
data

array([[ 1.31566141, -0.33484287],
       [ 1.71157685,  0.53025723]])

In [17]:
cols = ['a','b']

In [18]:
df = pd.DataFrame(data,dt_ind,cols)

In [19]:
df

                   a         b
2016-01-01  1.315661 -0.334843
2016-01-02  1.711577  0.530257

In [20]:
#get me the position of the latest date
df.index.argmax()

1

In [21]:
#get me the actual latest date
df.index.max()

Timestamp('2016-01-02 00:00:00')